/*
:root {
    --duration: 10s;
}
*/

body {
  background: #f7f7f7;
  overflow: hidden;
}

.wrapper-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 54%;
  position: absolute;
  top: 51%;
  opacity: 0.8;
  transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(-10deg) rotate(10deg);
}

.images-line {
  /*
  -webkit-animation: runner var(--duration) linear;
          animation: runner var(--duration) linear;
  */
  display: flex;
  transform: translateX(45%);
  /*
  animation-fill-mode: both;
  */
}
/*
.images-line:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
*/
.images-line .line {
  background-position: 50% 50%;
  background-size: cover;
  flex: none;
  height: 28vh;
  margin: clamp(6vh, 3vw, 30px);
  width: 28vh;
  position: relative;
  transition: ease-in-out all 0.3s;
}
.images-line .line .img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: 50% 50%;
  background-size: cover;
  transition: ease-in-out all 0.3s;
}
.images-line .line:hover .img {
  cursor: pointer;
  transform: scale(1.1) translatez(0px);
}
.images-line .line:hover:after {
  filter: blur(35px) opacity(0.8);
}
.images-line .line:after {
  content: "";
  background: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 3vh;
  position: absolute;
  background-size: cover;
  z-index: -1;
  transition: ease-in-out all 0.3s;
  filter: blur(25px) opacity(0.8);
}

@-webkit-keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}

@keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 500px;
    height: 25px;
}
