<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url('static', filename='main/css/base.css') }}">
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
        <link rel="stylesheet/less" type="text/css" href="{{ url('static', filename='main/css/player.less') }}" />   <!--SCCS-->
        <script src="https://cdn.jsdelivr.net/npm/less@4.1.1" ></script>   <!--SCCS-->
        {% block css %}
        {% endblock %}

        <!--radio https://learn.javascript.ru/script-async-defer-->
        <script async>
        var webradio = {
            player: function () {
                return document.getElementById("player");
            },
            play_station: function (url){
                document.getElementById("player").src = url;
            },
            load_channels: function (){
                var request = new XMLHttpRequest();
                request.onreadystatechange = function (){
                    if (request.readyState == 4 && request.status == 200){
                        let genre = new URL(location.href).pathname.split('/')[1];
                        let genreArray = [];
                        var station_data = JSON.parse(request.responseText);

                        for (var i=0;i<station_data.length;i++) {
                            if (station_data[i].name == decodeURI(genre)) {
                                genreArray.push(i);
                            }
                        }

                        if (genreArray.length == 0){
                            genreArray = Array.from(Array(station_data.length).keys());
                        }

                        genreArray.forEach(function (item, index) {
                            var category = station_data[item];
                            var optgroup = document.createElement("optgroup");
                            optgroup.label = category.name;
                            optgroup.setAttribute("class", "category");
                            document.getElementById("channelList").appendChild(optgroup);
                            for (var i1=0;i1<category.channels.length;i1++) {
                                var option = document.createElement("option");
                                option.textContent = category.channels[i1].name;
                                (function (url){option.addEventListener("click", function() {
                                    webradio.play_station(url);
                                }, false)}(category.channels[i1].url));
                                option.setAttribute("class", "station");
                                document.getElementById("channelList").appendChild(option);
                            }
                        });
                    }
                }
                request.open("GET", "{{ url('static', filename='main/json/channels.json') }}");
                request.send();
            },
            get_value: function (key) {
                if (window.localStorage[key] != undefined) {
                    return window.localStorage[key];
                }
            },
            set_value: function (key, value) {
                window.localStorage[key] = value;
            }
        };
        </script>
        <!--radio-->
        <!--radio-->
        <div class="channels" style="display: grid;z-index: 3;box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #9b9b9b6b; background: #f7f7f7; border-bottom-right-radius: 0.6em; border: 0; height: 3rem; width: 35rem;position:absolute;top:0%;left:0%;">
            <audio style="display:none" class="player" id="player" autoplay controls preload></audio>
            <div style="display:flex;justify-content:space-around;;align-items: center;flex-direction: row;flex-wrap: wrap;">
              <div class="slider-control">
                   <input type='range' id="volume-slider"  min='0' value='20' max='100' step='10' />
              </div>
              <div class="icon">
                  <div class="icon__fa-backward">
                    <i class="fa fa-backward"></i>
                  </div>
              </div>
              <div class="segmented-control">
                  <input onclick="document.getElementById('player').pause()" autocomplete="off" type="radio" name="radio2" value="3" id="tab-1" checked/>
                  <label for="tab-1" class= "segmented-control__1" style="padding: 0 .4rem;"><i class="fa fa-pause"></i></label>
                  <input onclick="document.getElementById('player').play()" autocomplete="off" type="radio" name="radio2" value="4" id="tab-2" />
                  <label for="tab-2" class= "segmented-control__2" style="padding: 0 .4rem;"><i class="fa fa-play"></i></label>
                  <div class="segmented-control__color"></div>
              </div>
              <div class="icon">
                  <div class="icon__fa-forward">
                    <i class="fa fa-forward"></i>
                  </div>
              </div>
              <div class="chip">
                  <select class="chip__icon" style="cursor: pointer;border: none;color: var(--greyDark); border-radius: .3rem; box-shadow: inset .1rem .1rem .2rem var(--greyLight-2), inset -.2rem -.2rem .2rem var(--white);padding: 0 .2rem;background-color: #f7f7f7;" id="channelList"></select>
              </div>
              <div class="icon">
                  <div class="icon__fa-random" id="changeRadio" onclick="chosenRandomOption('channelList', this.id)">
                    <i class="fa fa-random"></i>
                  </div>
              </div>
            </div>
        </div>
        <script>
            let volume = document.getElementById('volume-slider');
            let audio = document.getElementById('player');
            volume.addEventListener("change", function(e) {
                audio.volume = e.currentTarget.value / 100;
            })
        </script>
        <!--radio-->
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block script %}
        {% endblock %}

        <!--radio-->
        <script async>
            let changeRadioButton = document.getElementById("changeRadio");  //can delete if just stream

            webradio.play_station("https://radio.plaza.one/mp3");
            webradio.load_channels();

            webradio.player().addEventListener("volumechange", function (){
                webradio.set_value("playervolume", webradio.player().volume);
            }, false);

            webradio.player().addEventListener("ended",function(){  //can delete if just stream
              changeRadioButton.click();  //can delete if just stream
            });  //can delete if just stream

            webradio.player().volume = webradio.get_value("playervolume");
        </script>
        <script async rel="script" src="{{ url('static', filename='main/js/random_option.js') }}"></script>
        <!--radio-->
    </body>
</html>