{% extends 'main/html/base.html' %}

{% block title %}
    Hello {{name}} {{surname}}!
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url('static', filename='main/css/popup.css') }}">
<link rel="stylesheet" href="{{ url('static', filename='main/css/title.css') }}">

<style>
    img {
        aspect-ratio: 9 / 16;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    iframe {
        aspect-ratio: 9 / 16;
        height: 100%;
        width: 100%;
    }
</style>

<style>
    input:focus {
        outline: none !important;
        border-color: #719ECE;
        box-shadow: 0 0 10px #719ECE;
    }
</style>
{% endblock %}

{% block body %}
    <!-- pop-up -->
    <div id="product-info-background" style="width: 100%;height: 100%;background-color:black;z-index:3;position: fixed; background-color: rgba(0,0,0,.65);top:0px;left:0px;display:none;"></div>
    <div class="form-popup" id="product-info">
      <form action="/action_page.php" class="form-container">
          <div style="display:flex; grid-template-columns: 20px 50px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);">
              <div class="container-popup__close" onclick="closeForm()">&times;</div>
              <div id="youtube-video" style="z-index:4;background:rgba(255, 255, 255, 0);width:20vw;"></div>
<!--              <div style="width:30vw;background-color:white;"></div>-->
<!--              https://codepen.io/myacode/pen/PoqQQNM-->
          </div>
      </form>
    </div>
    <div class="wrapper-images" style="overflow: hidden;">
        <!--title-->
        <div class="animated-title">
          <div class="text-top">
            <div>
              <span style="font-size: 15vmin;">Chill-out</span><span>relax zone!</span>
            </div>
          </div>
          <div class="text-bottom">
            <div><form action="/{{phrase}}" method="post"><input type="text" value="{{phrase}}" name="name" style="font-size: 7vmin;width:58vmin;box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;background: #f7f7f7;border-radius: .3rem;"></form></div>
          </div>
        </div>
        <!--title-->
	    <!-- 5 images by row with 15 as 5 * 3 -->
        {% for z in range(4) %}
            <div class="images-line">
            {% for j in range(2) %}
                {% for i in range(5) %}
                    {% for video_id in videos_id | random %}
                        {% if video_id.video_id %}
                        <div class="line" style="border-radius: 50%;background-image:url(https://i.ytimg.com/vi/{{ video_id.video_id }}/maxresdefault.jpg)">
                                <div class="img" id="{{ video_id.video_id }}" style="border-radius: 50%;background-image:url(https://i.ytimg.com/vi/{{ video_id.video_id }}/maxresdefault.jpg);" onclick="openForm(this.id);"></div>
                        </div>
                        {% else %}
                        <div class="line" style="border-radius: 50%;background-image:url(https://i.ytimg.com/vi/{{ video_id }}/maxresdefault.jpg)">
                                <div class="img" id="{{ video_id }}" style="border-radius: 50%;background-image:url(https://i.ytimg.com/vi/{{ video_id }}/maxresdefault.jpg);" onclick="openForm(this.id);"></div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
<script async>
    // Control movement images by scroll
    const scrollContainer = document.querySelector(".wrapper-images");

    scrollContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        scrollContainer.scrollLeft += evt.deltaY;
    });
</script>

<script async>
    // Open popup
    function openForm(id) {
      // Get of the video
      let youtube_video = document.querySelector('#youtube-video');
      var youtube_delete_element = document.createElement("div");
      youtube_video.appendChild(youtube_delete_element);
      // Add a thumbnail
      youtube_delete_element.innerHTML =`<img alt="" src="https://img.youtube.com/vi/${id}/maxresdefault.jpg">`
      // Add the ID to the data-youtube attribute
      youtube_delete_element.setAttribute('data-youtube', id);
      // Add a role of button
      youtube_delete_element.setAttribute('role', 'button');

      document.getElementById("product-info").style.display = "block";
      document.getElementById("product-info-background").style.display = "block";
    }

    // Close popup
    function closeForm() {
      let youtube_video = document.querySelector('#youtube-video');
      // Delete all under div youtube_video then close
      youtube_video.innerHTML =``

      document.getElementById("product-info").style.display = "none";
      document.getElementById("product-info-background").style.display = "none";
    }

    // Click on img to run youtube video
    function clickHandler (event) {
      // Get the video link
      let link = event.target.closest('[data-youtube]');
      if (!link) return;
      // Prevent the URL from redirecting users
      event.preventDefault();
      // Get the video ID
      let id = link.getAttribute('data-youtube');
      // Create the player
      let player = document.createElement('div');
      player.innerHTML = `<iframe width="720" height="1280" src="https://www.youtube-nocookie.com/embed/${id}?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay;"></iframe>`;
      // Inject the player into the UI
      link.replaceWith(player);
    }

    // Detect clicks on the video thumbnails
    document.addEventListener('click', clickHandler);
</script>
{% endblock %}